@page
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model EMigrant.App.Frontend.Pages.DetMigranteModel
@{
    var migrante= Model.Migrante;
    

}
@*Estilos CSS*@
<style>
    .center {
        text-align: center
    }

    .resaltar {
        font-weight: bold;
        font-size: 18px;
        color: green;
    }
</style>

@*Formulario para consultar informacion personal de un migrante*@
<h2 class="center">Mi información personal</h2>
<form>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="inputnombre">Nombres *   </label>
            
            <input readonly class="form-control" id="nombres" asp-for="@migrante.nombres" >
           
        </div>
        <div class="form-group col-md-6">
            <label for="inputapellidos">Apellidos *</label>
            <input type="text" class="form-control" id="apellidos" asp-for="@migrante.apellidos" readonly>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="inputtdocumento">Tipo de documento *</label>
            <select id="tdocumento" class="form-control" asp-for="@migrante.tdocumento" readonly>
                <option selected>Tipo de documento...</option>
                <option>CÉDULA DE CIUDADANÍA</option>
                <option>CÉDULA DE EXTRANJERA</option>
                <option>DOCUMNETO EXTRANJERO</option>
                <option>CÉDULA DE EXTRANJERÍA COLOMBIANA</option>
                <option>PASAPORTE</option>
                <option>REGISTRO CIVIL</option>
                <option>TARJETA DE IDENTIDAD</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="inputnodocumento">Numero de documento *</label>
            <input type="text" class="form-control" id="nodocumento" asp-for="@migrante.nodocumento" readonly>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="inputpaisorigen">País de origen *</label>
            <select id="paisorigen" class="form-control" asp-for="@migrante.paisorigen" readonly>
                <option selected>País...</option>
                <option>Venezuela</option>
                <option>Brasil</option>
                <option>>Argentina</option>
                <option>Uruguay</option>
                <option>Bolivia</option>
                <option>Costa Rica</option>
                <option>Ecuador</option>
                <option>Perú</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="inputfechanacimiento">Fecha de nacimiento *</label>
            <input type="text" class="form-control" id="fechanacimiento" placeholder="DD-MM-AA" asp-for="@migrante.fechanacimiento" readonly>
        </div>
        <div class="form-group col-md-6">
            <label for="inputemail">Correo electrónico</label>
            <input type="text" class="form-control" id="inputemail" value=@UserManager.GetUserName(User) asp-for="@migrante.email" readonly >
        </div>
        <div class="form-group col-md-6">
            <label for="inputtelefono">Telefono</label>
            <input type="text" class="form-control" id="telefono" asp-for="@migrante.telefono" readonly>
        </div>
        <div class="form-group col-md-6">
            <label for="inputtelefono">Direción Actual</label>
            <input type="text" class="form-control" id="direcion" asp-for="@migrante.direciona" readonly>
        </div>
        <div class="form-group col-md-4">
            <label for="inputtelefono">Ciudad</label>
            <input type="text" class="form-control" id="ciudad" asp-for="@migrante.ciudad" readonly>
        </div>
        <div class="form-group col-md-6">
            <label for="inputpaisorigen">Situación laboral *</label>
            <select id="situacionlaboral" class="form-control" asp-for="@migrante.situacionlaboral" readonly>
                <option selected>Situación laboral...</option>
                <option>Empleado</option>
                <option>Desempleado</option>
                <option>Independiente</option>
            </select>
        </div>
    </div>
    @{
        try { 
        var ids = migrante.id;
        <a class="btn btn-info" asp-page="./Update" asp-route-migranteId="@UserManager.GetUserName(User)">Actualizar datos</a>

    }catch{
       <a class="btn btn-info" asp-page="./Update1" asp-route-migranteId="@UserManager.GetUserName(User)">Actualizar datos</a>
    }
    
     }
    
    <p>Si necesitas actualizar tu información personal. Presiona el botón <span class="resaltar">Actualizar datos</span></p>
    
        
    
</form>